numpy
matplotlib
pandas
scipy
# required in opt_strategy_basic
cvxpy
# required for VSE (supervised and reinforcement training and inferencing)
tensorflow
# required for VSE (reinforcement training)
tensorflow-probability
tf-agents
